@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: sans-serif;  
  background-image: url("bg1.webp");
background-size: 1300px;

}

a{
    color: aliceblue;
}

.container{
    width: 80%;
    margin:auto;
   
}

/* header start... */
header {
    height: 120px;
    border-bottom: 2px solid rgba(255,255,255, 0.06);
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;

}

header nav .logo a{
color: aliceblue;
text-decoration: none;
font-weight: 700;
font-size: 20px;

}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
   
}

nav ul li a{
    text-decoration: none;
    transition: color .25s;
}

nav ul li a:hover{
    color: #2ba2c0;
}
nav .menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav .menu .button {
    text-decoration: none;
    color: #2ba2c0;
    background-color:rgba(255,255,255, 0.08);
    padding: 12px 24px;
    border-radius: 56px;
    transition: all  .25s;

}

nav .menu .button:hover {
 color: aliceblue;
 background-color: darkslategray;

}
/* header end.. */

/* responsive start... */
@media(max-width:576px){

.container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.menu ul{
    column-gap: 20px;
}
.menu .button{
    display: none;
}

.content{
    padding-top: 50px;
}

.content h1{
  font-size: 36px;
}

.content p{
    font-size: 16px;
}

.content .links a{
    padding: 14px;
    width: 90%;
}

.content .links {
    flex-direction: column;
    align-items: center;
    row-gap: 1ren;
}
}


/* responsive end... */

/* section start... */
h1{
    font-size: 60px;
    color: white;
    padding-top: 120px;
    text-align: center;
}

p{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
}

.container .links {
    display: flex;
    justify-content: center;
    margin-top: 48px;

}

.container .links a{
    text-decoration: none;
   margin: 20px;
   padding: 12px 24px;
   border-radius: 56px;
   transition: all  .25s;
   background-color: grey;

}

.container .links a:hover{
    color: black;
    background-color: white;
}

/* section end... */